body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
}

.class-scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
    margin: 1rem;
    border: 1px solid black;
    max-height: 25%;
    justify-content: flex-start;
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, rgb(49, 2, 49));
}

.class-header-container {
    border: 1px solid black;
    padding-inline: .75rem;
}

.assignment-container {
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    padding: .75rem;
}