<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Canvas</title>
    <script 
        src="{{ url_for('static', filename='javascript/canvas.js')}}">
    </script>
</head>
<body>
    <div class="class-scroll">
        <div class="class-header-container">
            <h2 class="class-header"></h2>
        </div>
        <div class="assignment-container">
            <h2 class="assign-header"></h2>
        </div>
    </div>
    <div class="class-scroll">
        <div class="class-header-container">
            <h2 class="class-header"></h2>
        </div>
        <div class="assignment-container">
            <h2 class="assign-header"></h2>
        </div>
    </div>
    <div class="class-scroll">
        <div class="class-header-container">
            <h2 class="class-header"></h2>
        </div>
        <div class="assignment-container">
            <h2 class="assign-header"></h2>
        </div>
    </div>
    <div class="class-scroll">
        <div class="class-header-container">
            <h2 class="class-header"></h2>
        </div>
        <div class="assignment-container">
            <h2 class="assign-header"></h2>
        </div>
    </div>
    <div class="class-scroll">
        <div class="class-header-container">
            <h2 class="class-header"></h2>
        </div>
        <div class="assignment-container">
            <h2 class="assign-header"></h2>
        </div>
    </div>
</body>

<script type="text/javascript">
    let courseArr = parseCourses({{ courses|tojson }})
    let assignArr = parseAssignments({{ assignments|tojson }})
    console.log(assignArr[0])
    headers = document.querySelectorAll(".class-header")
    assigns = document.querySelectorAll(".assign-header")
    console.log(assigns.length)
    for (let i = 0; i < headers.length; ++i) {
        headers[i].textContent = courseArr[i].name
    }
    for (let i = 0; i < assigns.length; ++i) {
        console.log(assignArr[i].summary)
        assigns[i].textContent = assignArr[i].summary
    }
</script>

</html>